/* Overwrite in your /assets/css/custom.css file */

p > img {
  max-width: 100%;
  height: auto;
}

#site-banner {
  text-align: center;
}

#site-banner-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}