{{ define "main" }}
{{ `<!-- ENTER: layouts/index.html -->` | safeHTML }}

<!-- {{ range .Site.RegularPages }} -->
  <!-- <pre><p>{{ . | jsonify }}</p></pre> -->
<!-- {{ end }} -->

<!-- Let's Moove Canva embed from Karen -->
<div class="container mt-3 mb-3">
    <div class="home-canva-embed">
    <iframe loading="lazy" class="home-canva-iframe"
    src="https://www.canva.com/design/DAGgmfR_fO4/xE9UDOAcGfdVogOlKKv58Q/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGgmfR_fO4&#x2F;xE9UDOAcGfdVogOlKKv58Q&#x2F;view?utm_content=DAGgmfR_fO4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">HAT Fundraising website</a> by Karen Mixdorf
</div>

<!-- Let's Moove donations embed from Karen -->
<div class="container mt-3 mb-3">
    <iframe class="home-donations-iframe" src="https://docs.google.com/document/d/e/2PACX-1vQvib-Hnw7AfcmygzwlCQHZMw8U6WNeVNecJcgCPwVXAiFFjuXEw9l-oL4wE-LqYItlBnuxpJtSTqvd/pub?embedded=true"></iframe>
 </div>

<!-- Remaining pages -->
<div class="container mt-3 mb-3">
    {{/* $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "!=" "page") */}}
    {{ $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" (slice "post" "event" "education" "go")) }}

    {{ if .Site.Params.startPageColumns }}
        <div class="card-columns">
            {{ range $paginator.Pages }}
                {{- partial "content_index.html" . -}}
            {{ end }}
        </div>
    {{ else }}
        {{ range $paginator.Pages }}
            <div class="mb-3">
                {{- partial "content_index.html" . -}}
            </div>
        {{ end }}
    {{ end }}

    {{ template "_internal/pagination.html" . }}
</div>

{{ `<!-- EXIT: layouts/index.html -->` | safeHTML }}
{{ end }}
